__pycache__/
component/__pycache__/
23PAR221RB/
2532F063AJ/
client_soft/
APP_LOG/
MERGE_LOG/
ERR_LOG/
SOCKET_LOG/
CustomTkinter_icon_Windows.ico
pyvenv.cfg
*.xlsx
*.ico
*.png
*.spec
build/
dist/
*.exe
test.py